.workspace {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.workspace::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.workspace::-webkit-scrollbar-corner {
    background: #f5f5f5;
}

.workspace::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f5f5f5;
    border-radius: 10px;
}

.workspace::-webkit-scrollbar-thumb {
    background: #0F52BA;
    border-radius: 10px;
}

.workspace > .list-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    gap: 20px;
}

.workspace > .list-container > .list-add {
    margin-top: 10px;
    color: #f5f5f5;
    background-color: #0F52BA;
}

.workspace > .list-container > .list-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.workspace > .list-container > .list-container-column > .list-clear {
    color: #f5f5f5;
    background-color: #00A36C;
}

.workspace > .list-container > .list-container-column > .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    background-color: #f5f5f5;
    border: 1.5px solid #0F52BA;
    border-radius: 15px;
    width: 230px;
}

.workspace > .list-container > .list-container-column > .list > .list-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 225px;
}

.workspace > .list-container > .list-container-column > .list > .list-header > .header-text {
    width: 140px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.workspace > .list-container > .list-container-column > .list > .list-item > .list-item-text {
    margin-right: 20px;
    cursor: pointer;
}

.workspace > .list-container > .list-container-column > .list > .list-item > div.MuiListItemSecondaryAction-root.css-518kzi-MuiListItemSecondaryAction-root {
    display: flex;
    flex-direction: column;
}

.workspace > .list-container > .list-container-column> .list > .list-item-add {
    place-self: center;
    color: #f5f5f5;
    background-color: #0F52BA;
    margin-top: 10px;
}