.workspaces-container {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background-color:#f5f5f5;
    border-radius: 10px;
    border: 2px solid #0F52BA;
    width: 30%;
    height: 75%;
    place-self: center;
}

.workspaces-container > .workspace-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #A7C7E7;
    border-radius: 10px;
    border: 2px solid #0F52BA;
    margin-top: 20px;
    width: 70%;
    height: 70%;
    padding: 7px 15px 7px 15px;
}